/* reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol,
ul {
  list-style: none;
}
html {
  font-family: "Lato";
  font-weight: 400;
  font-size: 16px;
}

.main-content {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
  margin: 80px auto;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

/* session intro */
.section--intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 810px;
  gap: 49px;
}

.section--intro .intro__title {
  font-family: "Lora";
  font-size: 2.5rem;
  line-height: 54px;
  font-weight: 400;
}

.section--intro .intro__content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.section--intro .intro__content .intro__images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 810px;
  gap: 32px;
  padding: 0 10px;
}

.section--intro .intro__content .intro__images img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 16px;
}

.section--intro .intro__content .intro__text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.375rem;
  margin-bottom: 14px;
}

/* session details */
.section--details {
  max-width: 1376px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.section--details .details__image-wrapper img {
  border-radius: 24px;
  width: 100%;
  height: auto;
  display: block;
}

.section--details .details__content {
  border-radius: 24px;
  max-width: 100%;
  height: auto;
  background-color: #f4f0ea;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 48px;
  gap: 25px;
}

.section--details .details__content .details__title {
  font-family: "Lora";
  font-size: 4rem;
  line-height: 4.625rem;
  font-weight: 400;
}

.section--details .details__content .details__subtitle {
  font-size: 1.25rem;
  line-height: 1.875rem;
  margin-bottom: 6px;
  font-weight: 400;
}

.section--details .details__content .details__text {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@media (max-width: 1440px) {
  html {
    font-size: 15px;
  }

  .section--details {
    padding: 0 24px;
  }
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }

  .main-content {
    gap: 28px;
  }

  .section--intro {
    gap: 36px;
  }

  .section--intro .intro__content {
    gap: 36px;
  }

  .section--intro .intro__content .intro__images {
    padding: 0 16px;
    gap: 4px;
  }

  .section--intro .intro__paragraph {
    padding: 0 16px;
  }

  .section--details {
    grid-template-columns: 1fr;
    padding: 0 16px;
  }

  .section--details .details__content {
    padding: 32px 24px;
    gap: 16px;
  }

  .section--details .details__content .details__title {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .section--details .details__content:first-child {
    grid-row: 1;
  }

  .section--details .details__image-wrapper:first-child {
    grid-row: 2;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .main-content {
    gap: 28px;
  }

  .section--intro {
    gap: 27px;
  }

  .section--intro .intro__content {
    gap: 27px;
  }

  .section--intro .intro__content .intro__images {
    padding: 0 10px;
    gap: 4px;
  }

  .section--intro .intro__paragraph {
    padding: 0 10px;
  }

  .section--details {
    padding: 0 10px;
  }

  .section--details .details__content {
    padding: 20px 18px;
    gap: 16px;
  }

  .section--details .details__content .details__title {
    font-size: 2rem;
    line-height: 3rem;
  }
}
